@import "variables";

/*MessagesList*/
.messages {
    padding: $global-padding;
    .message {
        .message-text {
            margin-right: 5px;
        }
        .content {
            display:block;
        }
    }
}
