@import "variables";

html {
    max-height: 100%;
}

.app {
    position:relative;
    width:100%;
    min-height: 100vh;
    max-height: 100vh;
    display:flex;
    flex-direction: column;

    .page {
        flex: 1 1 auto;
    }
}
