@import "variables";

%flex-column {
    display:flex;
    flex-direction: column;
}

.page-chat {
    @extend %flex-column;
    .messages,
    .messages-list {
        flex: 1 1 auto;
        overflow: auto;
    }
    .messages {
        @extend %flex-column;
    }
}
