@import "variables";

.header {
    background-color: map-get($foundation-palette, primary);
    padding: rem-calc(10);
    color: $white;
    a {
        color: $white;
        &:hover {
            color: $light-gray;
        }
    }
    h2 {
        margin-bottom:0;
        line-height: 1;
    }
    // layout
    .header-inner-container {
        display:flex;
        .brand-container {
            flex: 1;
        }
        .authorized-container {
            flex: 1;
            align-self: flex-end;
        }
    }
}
