/*todo: split styles per component*/

body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background:purple;
}

.app {
    width:100%;
    min-height: 100vh;
    background: gray;
    position:relative;
}

/*Header*/
.header {
    background-color: #222;
    padding: 20px;
    color: white;
}

/*MessagesList*/
.messages-list {
    background: red;
}
.messages-list .message {

}
.messages-list .message .message-text {
    margin-right: 5px;
}

/*ChatForm*/
.chat-form {
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    background:blue;
}
.chat-form .submit-button {
    display:none;
}
.chat-form input {
    width:100%;
}
